footer {
  display: flex;
  padding-block:24px;
  gap: 24px;
}
footer span:nth-child(1){ /*nth-child é a contagem dos filhos que tem dentro de uma caixa que nesse caso o pai e o footer*/
margin-right: auto;
}