main {
  display:flex;
  flex-wrap:wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;/* Caso as fts que estejam ñ sejam um quadrado perfeito, usamos esse comando para cobrir esse espaço*/
}